# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://tajyzrrrrmqaynoousng.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRhanl6cnJycm1xYXlub291c25nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg1OTA2MTQsImV4cCI6MjA5NDE2NjYxNH0.hMa5p3wpWrzywivfp-pQ0eBrU_TWHoT9x7Af73PpoBk